*.bak
*.rpt
*.kpt
*.bpm

*.smsg
*.qmsg

*.pin
*.pof
*.sof
*.hif
*.mif.
*.tdf
*.cdf

*.root_partition
*.summary
*.done
*.db_info
*.hier_info
*.ipinfo
*.lpc

*.logdb
*.cdb
*.hdb
*.ddb
*.rdb
*.idb

*.xml
*.html
*.txt
