*.bak
*.rpt
*.kpt
*.bpm
*.dfp
*.dpi
*.sci
*.sig
*.jdi

*.smsg
*.qmsg

*.pin
*.pof
*.sof
*.hif
*.mif.
*.tdf
*.cdf

*.root_partition
*.summary
*.done
*.db_info
*.hb_info
*.hier_info
*.ipinfo
*.lpc

*.logdb
*.cdb
*.hdb
*.ddb
*.rdb
*.idb
*.tdb
*.ammdb
*.rcfdb

*.xml
*.html
*.txt
